torch>=1.12.0
torchvision>=0.13.0
gym==0.24.0
gym_minigrid==1.0.2
git+https://github.com/soltoggio/CT-graph@dev#egg=gym-ctgraph
opencv-python>=3.4.0.12
tensorboardX>=2.5.1
tensorboard>=2.9.0
scikit-image>=0.13.1
atari-py>=0.1.1
tqdm>=4.23.0
pandas>=0.22.0
pathlib2>=1.0.1;python_version <= '2.7'
pathlib>=1.0.1;python_version >= '3.5'
seaborn>=0.8.1

